<template>
  <q-page padding>
    <div class="q-pa-lg doc-container bg-grey-1">
      <div class="row q-mb-xl q-gutter-md" style>
        <div class="col-xs-12 ol-sm-6 col-md-3 trackStatus">
          <q-item-label class="q-mt-md q-ml-xs headline1 float-left">
            <strong class="text-h3">Track status</strong>
          </q-item-label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 searchBox">
          <q-input square outlined v-model="searchText">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3">
          <q-btn no-caps class="createProject" @click="showAppHeader()">
            <q-icon left size="3.3em" name="post_add" />Create new project
          </q-btn>
        </div>
      </div>

      <div class="q-mb-xl row q-gutter-xl">
        <div
          class="inProgress shadow-4"
          id="0"
          @click="selCard='Inprogress';showTableData($event)"
          style="width:20vw"
        >
          <q-card :class="{ clicked: blockClicked === '0' }" class="bg-grey-4 my-card">
            <q-card-section>
              <div class="text-center">Inprogress</div>
            </q-card-section>

            <q-separator dark inset />

            <q-card-section class="text-center">{{ pcount }}</q-card-section>
            <q-card-section class="text-center" v-if="pcount == 0"></q-card-section>
          </q-card>
        </div>

        <div
          class="inProgress shadow-4"
          id="1"
          @click="selCard='Completed';showTableData($event)"
          style="width:20vw"
        >
          <q-card :class="{ clicked: blockClicked === '1' }" class="bg-grey-4 my-card shadow-4">
            <q-card-section class>
              <div class="text-center">Completed</div>
            </q-card-section>

            <q-separator dark inset />

            <q-card-section class="text-center">{{ ccount }}</q-card-section>
          </q-card>
        </div>
      </div>
      <br />

      <div>
        <!-- v-if="data.length" -->
        <q-table
          virtual-scroll
          table-style="max-height: 450px"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
          :virtual-scroll-sticky-start="48"
          :data="tabledata"
          row-key="field"
          flat
          dense
          :columns="columns"
          :filter="searchText"
          bordered
        >
          <template v-slot:body="props">
            <q-tr :props="props" class="text-h6">
              <!-- {{props.row.Serial}} -->
              <q-td width="2%" key="Serial" :props="props">
                {{
                props.row.Serial
                }}
              </q-td>

              <q-td width="10%" key="projcode" :props="props">{{ props.row.projcode }}</q-td>
              <q-td
                text-allign="left"
                width="20%"
                key="customer"
                :props="props"
              >{{ props.row.customer }}</q-td>
              <q-td width="10%" key="valvetype" :props="props">{{ props.row.valvetype }}</q-td>
              <q-td width="15%" key="series" :props="props">{{ props.row.series }}</q-td>
              <q-td width="15%" key="operator" :props="props">{{ props.row.operator }}</q-td>
              <q-td width="15%" key="valvesize" :props="props">
                {{
                props.row.valvesize
                }}
              </q-td>
              <q-td width="15%" key="status" :props="props">
                <q-badge :color="props.row.status==='Inprogress'?'yellow':'green'">
                  {{props.row.status}}
                  <q-popup-edit v-model="props.row.status" title="Update Status" buttons persistent>
                    <q-select
                      dense
                      v-model="props.row.status"
                      :options="['Inprogress','Completed']"
                    />
                  </q-popup-edit>
                </q-badge>
              </q-td>

              <q-td width="20%" key="action" :props="props">
                <q-btn class="delDashTbl" flat round @click="openProject(props.row)" icon="create" />
                <q-btn
                  class="delDashTbl"
                  flat
                  round
                  @click="deleteProject(props.row.projId)"
                  icon="delete_outline"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>
        <!-- <q-table
         
           virtual-scroll
          table-style="max-height: 450px"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
          :virtual-scroll-sticky-start="48"
          :data="data"
          :columns="columns"
          row-key="name"
        ></q-table>-->
      </div>
    </div>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center text-h6">
          Delete Project
          <span id="deleteProjId" style="display:none" />
        </q-card-section>

        <q-card-actions align="center">
          <q-btn class="tblDashBtnCancl" no-caps flat size="sm" label="Cancel" v-close-popup />
          <q-btn
            class="tblDashBtnDel"
            no-caps
            flat
            size="sm"
            label="Delete"
            @click="deleteConfirm()"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import axios from "axios";
//import { EventBus } from "../event-bus";
import { mapGetters, mapActions } from "vuex";
// import { socket } from "@/feathers-client";
export default {
  data() {
    return {
      selCard: "Inprogress",
      userId: null,
      searchText: "",
      filter: "",
      pcount: 0,
      ccount: 0,
      hidetable: true,
      blockClicked: "",
      projcode: null,
      customer: null,
      SrNo: null,
      valvetype: null,
      series: null,
      projcreatedDate: null,
      list: null,
      confirm: false,
      pagination: {
        rowsPerPage: 0
      },

      columns: [
        {
          name: "Serial",
          required: true,
          label: "Sr.No",
          align: "left",
          field: "Serial",
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "projcode",
          align: "left",
          label: "Project Code",
          field: "projcode",
          sortable: true
        },
        {
          name: "customer",
          align: "left",
          label: "Customer  Name",
          field: "customer",
          sortable: true
        },
        {
          name: "valvetype",
          label: "Valve Type",
          align: "left",
          field: "valvetype",
          sortable: true
        },
        {
          name: "series",
          align: "left",
          label: "Valve series",
          field: "series",
          sortable: true
        },
        {
          name: "operator",
          align: "left",
          label: "Operator",
          field: "operator",
          sortable: true
        },
        {
          name: "valvesize",
          align: "left",
          label: "Valve Size",
          field: "valvesize",
          sortable: true
        },
        {
          name: "status",
          align: "left",
          label: "status",
          field: "status",
          sortable: true
        },

        {
          name: "action",
          align: "left",
          label: "Action",
          field: "action"
        }
      ],

      data: [
        {
          Serial: 1,
          projcode: "projsd15",
          customer: "fssfdsfds",
          valvetype: "prim",
          series: "b54",
          operator: "4512fa",
          valvesize: [1, 4, 2, 4, 1],
          status: "Inprogress"
        }
      ],
      msg: ""
    };
  },
  mounted() {
    //this.$store.dispatch("appStateStore/updateHeaderName", "Dashboard");
    //EventBus.$emit("headerName", "Dashboard");

    this.userId = this.$store.getters["appStateStore/getUserId"];
    // this.loadDefault();
  },
  computed: {
    ...mapGetters("drawing", ["getprojects"]),
    projCurrencyList() {
      return this.$store.getters["project/getCurrencyList"];
    },
    tabledata() {
      let storetabledata = this.getprojects;
      let data = [];
      this.pcount=storetabledata.filter(x => x.status === "Inprogress").length
      this.ccount=storetabledata.filter(x => x.status === "Completed").length

      if (this.selCard === "Inprogress") {

        data = storetabledata.filter(x => x.status === "Inprogress");
      } else if (this.selCard === "Completed") {
        data = storetabledata.filter(x => x.status === "Completed");
      }

      return data
    }
  },

  methods: {
    showAppHeader() {
      //EventBus.$emit("headeData", true);
      let ObjProject = {};

      this.$store.dispatch("project/updateSelectedObjProj", ObjProject);
      this.$router.push({ name: "ProjectDetail" }).catch(e => {});
    },
    loadDashboardCount() {
      var self = this;
      let userId = this.userId;
      // socket.emit("find", "dashboard", { userId }, (error, data) => {
      //   // axios
      //   //   .get("http://b1.race4x.com/dashboard?userId=" + 6)
      //   //   .then(function(response) {
      //   // handle success
      //   console.log(error, data);
      //   debugger;
      //   if (data.tblDashboard.length > 0) {
      //     self.pcount = data.tblDashboard[0].projInProcessCount;
      //     self.ccount = data.tblDashboard[0].projCompletedCount;
      //   }

      //   //   console.log(tblPrg);

      //   //  self.data = tblPrg;
      // });
      // .catch(function(error) {
      //   // handle error
      //   console.log(error);
      // })
      // .finally(function() {
      //   // always executed
      // });
    },

    showTableData(event) {
      var self = this;
      debugger;
      let dashboardBlock = +event.currentTarget.id;
      //dashboardBlock = dashboardBlock === undefined ? 0 : dashboardBlock;
      this.blockClicked = event.currentTarget.id;
      //  blockClicked=blockClicked === undefined ? "0":blockClicked;
      let UserId = this.userId;
      axios
        .get(
          `http://b1.race4x.com/dashboard/${UserId}?projStatus=${dashboardBlock}`
        )
        .then(function(response) {
          // handle success

          self.data = JSON.parse(
            response.data.tblProjectDashboard[0].ProjData
          ).tblProject;

          self.data = self.data.map((x, index) => {
            x.rowIndex = index + 1;
            return x;
          });
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },
    deleteProject(Id) {
      this.confirm = true;

      setTimeout(function() {
        document.getElementById("deleteProjId").innerText = Id;
      }, 300);
    },

    deleteConfirm() {
      var self = this;
      const projId = document
        .getElementById("deleteProjId")
        .innerText.toString();

      const newprocIndex = self.data.findIndex(obj => obj.projId === projId);

      this.data.splice(newprocIndex, 1);
      axios
        .delete("http://b1.race4x.com/project/" + projId)
        .then(function(response) {
          //reload count
          self.$q.notify({
            color: "green-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Selected Project has been deleted"
          });

          self.loadDashboardCount();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },

    openProject(ObjProject) {
      var self = this;
      this.$router.push({
        name: "ProjectDetail",
        query: { projId: ObjProject.Serial }
      });

      // axios.get("http://b1.race4x.com/mfgprofile").then(function(response) {
      //   // handle success
      //   // socket.emit("get", "mfgprofile", null, (error, data) => {
      //   let mfgData = JSON.parse(response.data.tblMfgProfileData[0].MfgProfile)
      //     .mfgProfiles;
      //   //  Object.entries(mfgData).map(x=>x[1])

      //   self.$store.dispatch("mfgstore1/loadShiftProfile", mfgData);

      //   self.$store.dispatch("project/updateSelectedObjProj", ObjProject);

      //   let projMfgProfileId = ObjProject.projectMfgProfileId;

      //   let projMfgLocationId = parseInt(ObjProject.projectMfgId);
      //   let projectCurrId = parseInt(ObjProject.size);

      //   //getList and set data mfgProfile
      //   // let allMfgData = self.$store.getters["mfgstore1/mfgAllProfiles"]
      //   let mfgprofDataArray = Object.entries(mfgData).map(x => x[1]);

      //   let selectedMfgProfileIndex = mfgprofDataArray
      //     .map((x, index) => {
      //       if (x.mfgProfId === projMfgProfileId) return index;
      //     })
      //     .filter(x => x != undefined)[0];

      //   let ProjMfgObjData = mfgprofDataArray[selectedMfgProfileIndex];
      //   //
      //   self.$store.dispatch("mfgstore1/updateShiftProfile", ProjMfgObjData);
      //   //mfgLocation
      //   let mfgLocationList = self.$store.getters["project/getMfgLocationList"];

      //   let selProjectMfgLocation = mfgLocationList.find(
      //     x => x.value === projMfgLocationId
      //   );

      //   self.$store.dispatch(
      //     "project/updateSelctedProjectMfgLocation",
      //     selProjectMfgLocation
      //   );

      //   //projCurrency
      //   let projCurrList = self.$store.getters["project/getCurrencyList"];
      //   let selProjectCurrency = projCurrList.find(
      //     x => x.value === projectCurrId
      //   );
      //   self.$store.dispatch(
      //     "project/updateSelctedProjectCurrency",
      //     selProjectCurrency
      //   );

      //   self.$router.push({
      //     name: "PartDetail"
      //   });
      // });
      // .catch(function(error) {
      //   // handle error
      //   console.log(error);
      // })
      // .finally(function() {
      //   // always executed
      // });
    }
  }
};
</script>

<style lang="scss">
.my-card {
  height: 150px;
  width: 20vw;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
  transition-duration: 1s, 1s, 0.5s, 0.5s;
  transition-delay: 0s, 0.5s, 1s, 1.5s;
}

.my-card:hover {
  background-color: #051c2c !important;
  color: white;
}
.clicked {
  background-color: #051c2c !important;
  color: white;
}

@media screen and(max-width: 580px) {
  .trackStatus {
    width: 100%;
  }
  .searchBox {
    width: 97%;
  }
  .createProject {
    width: 97%;
  }
  .inProgress {
    width: 91%;
  }
}
@media screen and(max-width: 768px) {
  .createProject {
    width: 97%;
  }
}
</style>
