<template>
  <div class="row q-gutter-xs q-pa-xs q-mr-sm">
    <!-- <div>
      <q-btn round size="sm" class="q-mt-md q-mr-sm">
        <q-avatar size="20px">
          <q-icon size="16px" :class="varLang ? varLang.icon : ''" > </q-icon>
        </q-avatar>
        <q-menu
          transition-show="jump-down"
          transition-hide="jump-up"
          :offset="[55, 5]"
        >
          <q-list style="min-width: 130px">
            <q-item
              v-for="(lang, i) in getLang()"
              :key="i"
              clickable
              v-close-popup
              rounded
            >
              <q-item-section @click="varLang = lang">
                <div class="row">
                  <q-icon class="q-mt-xs q-ml-sm q-mr-sm" :class="lang.icon" />
                  {{ lang.label }}
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </div> -->

    <div>
      <q-btn round class="q-mt-xs">
        <q-avatar size="42px">
          <img src="../statics/profile.png" />
        </q-avatar>
      </q-btn>
      <q-menu
        transition-show="jump-down"
        transition-hide="jump-up"
      >
        <q-list
          style="min-width: 100px; background-color:white;"
        >
          <div
            class="fixed-top-right"
            style="margin:35px 0 0 10px"
          >
            <div
              style="background-color:white;padding:10px 0 0 10px; margin:15px 5px 0 0; min-width: 190px"
            >
              <q-avatar style="margin-left:55px" size="65px">
                <img src="../statics/profile.png"  />
              </q-avatar>
              <!-- <q-item-label class="q-mt-lg q-mb-lg text-center">
                {{ getRole }}
              </q-item-label> -->
              <div class="text-subtitle1 q-ma-sm" style="margin:0 10px 0 -10px">
                <!-- {{ this.ProfileName }} -->
                User
              </div>
            <q-item-label class="q-mt-lg q-mb-lg text-center">
              {{user ? user.email : ''}}
            </q-item-label>

            <div class="row q-mb-md">
              <!-- <q-badge color="info" size="8px" class="q-pa-sm">
                {{ user ? user.role : ''}}
              </q-badge> -->
              <q-btn
                @click="goToProfile"
                dense
                color="info"
                round
                icon="person"
                class="q-ml-md"
              >
                <q-tooltip content-class="bg-indigo" :offset="[10, 10]">
                  Profile
                </q-tooltip>
              </q-btn>
              
              <q-space />

              <q-btn
                to="/"
                @click="updateapplogout"
                dense
                color="primary"
                round
                icon="exit_to_app"
                class="q-ml-md"
              >
                <q-tooltip content-class="bg-indigo" :offset="[10, 10]">
                  {{ $t('common.logout') }}
                </q-tooltip>
              </q-btn>
            
                <!-- <q-btn
                class="q-mt-xl"
                  color="primary"
                  label="Logout"
                  push
                  size="md"
                  v-close-popup
                  to="/"
                  @click="updateapplogout"
                /> -->
            </div>
            </div>
          </div>
        </q-list>
      </q-menu>
    </div>
  </div>
</template>

<script>
// import { EventBus } from "../event-bus";
import _ from "lodash";
import { mapActions, mapGetters, mapState } from "vuex";
import { Cookies } from 'quasar'
// import '@/assets/flag-icon/css/flag-icon.css'
// import _ from 'loadsh';

export default {
  data() {
    return {
      appLogout: false,
      userImage: "",
      userId: "",
      ProfileName: "",
      selectedLangIcon: "",
      langList: [],
      lang: this.$i18n.locale
        ? this.getLang(this.$i18n.locale)
        : this.getLang('en'),
    };
  },

  computed: {
    ...mapGetters("auth", ['user']),
    // ...mapState('user', ['roles']),
    varLang: {
      get() {
        return this.lang
      },
      set(val) {
        this.$i18n.locale = val.value
        this.$nextTick(() => {
          this.lang = this.getLang(val.value)
        });
      }
    },
    getRole() {
      return _.join(this.roles, ',');
    }
  },

  methods: {
    ...mapActions('auth', ['logout']),
    ...mapActions("online-user", { removeOnlineUser: "remove" }),

    updateapplogout() {
      this.removeUserFromOnline()
      localStorage.removeItem('chargeCode');
      localStorage.removeItem('feathers-jwt');
      this.$router.push('/').catch(e => {});
    },

    goToProfile () {
      if(this.user && this.user.role.includes('User')) this.$router.push('/user-profile').catch(e => {})
      // if(this.user.role === 'Admin') this.$router.push('/admin-profile')
      // if(this.user.role === 'Super Admin') this.$router.push('/profile')
    },

    async removeUserFromOnline() {
      const user = JSON.parse(localStorage.getItem("user"));
      if(user) {
        const onlineUsers = {
          email: user.email,
          workshopId: localStorage.getItem("workshopId")
        };
        
        if(user._id && localStorage.getItem("workshopId")) await this.removeOnlineUser([ user._id, { query: onlineUsers }]);
      }
      this.logout();
    },
    getLang(lang = false) {
      let langList = [{
        label: this.$t('common.english'),
        icon: 'flag-icon flag-icon-gb',
        value: 'en'
      }, {
        label: this.$t('common.chinese'),
        icon: 'fleag-icon flag-icon-cn',
        value: 'cn'
      }, {
        label: this.$t('common.japanese'),
        icon: 'flag-icon flag-icon-jp',
        value: 'jp'
      }, {
        label: this.$t('common.korean'),
        icon: 'flag-icon flag-icon-kr',
        value: 'kr'
      }]

      return lang ? _.filter(langList, ['value', lang])[0] : langList ;
    }
  },
  mounted() {
    EventBus.$on("appLogoutState", headerstate => {
      this.appLogout = headerstate.appLogoutState;
      this.userId = headerstate.UserId;
      this.userImage = headerstate.image;
      this.ProfileName = headerstate.ProfileName;
    });
    // window.onbeforeunload = function (e) {
    //   e = e || window.event;

    //   // For IE and Firefox prior to version 4
    //   if (e) {
    //       e.returnValue = 'Sure?';
    //   }

    //   // For Safari
    //   return 'Sure?';
    // };
  }
};
</script>
