<template>
  <q-page>
    <q-banner
      style="text-align:center"
      rounded
      inline-actions
      class="text-white text-h1 bg-primary"
    >
      <span class="text-bold text-h3">GA DRAWING</span>

      <q-btn rounded flat class="float-right" icon="close" to="/Dashboard">
        <q-tooltip>Move to Dashboard</q-tooltip>
      </q-btn>
    </q-banner>

    <div class="q-gutter-lg q-pb-xl">
      <!-- style="height: 140px; max-width: 150px" -->

      <div class="row q-gutter-lg">
        <q-card bordered class="col-2 q-gutter-lg q-pb-md q-pa-sm" flat>
          <div class="row">
            <div class="col-5 keystyle">Valve Type</div>
            <div class="col-7">
              <q-select
                dense
                outlined
                v-model="formdata.valvetype"
                fill-input
                :options="valvetypeopt"
                style="height:26px"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5 keystyle">Valve Series</div>
            <div class="col-7">
              <q-select
                dense
                outlined
                v-model="formdata.series"
                fill-input
                :options="seriesopt"
                style="height:26px"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5 keystyle">Operator</div>
            <div class="col-7">
              <q-select
                dense
                outlined
                v-model="formdata.operator"
                style="height:26px"
                :options="operatoropt"
                fill-input
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5 keystyle">Select Valve Size</div>
            <div class="col-7">
              <q-select
                dense
                v-model="formdata.valvesize"
                outlined
                autogrow
                use-chips
                multiple
                fill-input
                :options="vSizeopt"
              />
            </div>
          </div>
        </q-card>
        <q-card bordered flat class="col-2 q-gutter-y-lg q-pa-sm">
          <div class="q-gutter-y-md">
            <span class>Customer:</span>
            <div class>
              <q-select
                class="selectstyle"
                dense
                v-model="formdata.customer"
                outlined
                fill-input
                :options="customeropt"
              />
            </div>
          </div>
          <div class="col q-gutter-md">
            <div class>LOI/P.O.No :</div>
            <div class>
              <q-input v-model="formdata.LOIno" outlined dense />
            </div>
          </div>
          <div class="row">
            <div class="col-5">LOI/P.O Date :</div>
            <!-- v-model="" -->
            <div class="col-7 float-right">
              <q-input type="date" v-model="formdata.LOIDate" outlined dense />
            </div>
          </div>
          <div class="row">
            <div class="col-5">OFM No. :</div>
            <div class="col-7 float-right">
              <q-input outlined v-model="formdata.OFM" dense />
            </div>
          </div>
          <div class="row">
            <div class="col-5">Drawing for :</div>
            <div class="col-7 float-right">
              <q-select dense v-model="formdata.Drawing" outlined style="height:26px" fill-input />
            </div>
          </div>
          <div class="row">
            <div class="col-5">Inspection By :</div>
            <div class="col-7 float-right">
              <q-input outlined v-model="formdata.inspection" dense />
            </div>
          </div>
          <div class="row">
            <div class="col-5">Pressure Rating :</div>
            <div class="col-7 float-right">
              <q-select dense outlined v-model="formdata.rating" style="height:26px" fill-input />
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-5">LOI/P.O Date :</div> -->

            <q-checkbox v-model="formdata.painttype" label="Special Painting" />
          </div>
        </q-card>
        <q-card bordered flat class="col-2 q-gutter-lg q-pa-sm">
          <div class="col q-gutter-y-xs">
            <div class="row">
              <div class="col-5 keystyle">Drawn By :</div>
              <div class="col-7">
                <q-input v-model="formdata['drawnby']" outlined dense />
              </div>
            </div>
            <div class="row">
              <div class="col-5 keystyle">Drawn date</div>
              <div class="col-7">
                <q-input type="date" v-model="formdata['drawndate']" outlined dense />
              </div>
            </div>
          </div>
          <div class="col q-gutter-y-xs">
            <div class="row">
              <div class="col-5 keystyle">Checked By</div>
              <div class="col-7">
                <q-input outlined v-model="formdata['Checkedby']" dense />
              </div>
            </div>
            <div class="row">
              <div class="col-5 keystyle">Checked date</div>
              <div class="col-7">
                <q-input type="date" v-model="formdata['checkeddate']" outlined dense />
              </div>
            </div>
          </div>
          <div class="col q-gutter-y-xs">
            <div class="row">
              <div class="col-5 keystyle">Approved By</div>
              <div class="col-7">
                <q-input outlined v-model="formdata['Approvedby']" dense />
              </div>
            </div>
            <div class="row">
              <div class="col-5 keystyle">Approved date</div>
              <div class="col-7">
                <q-input type="date" v-model="formdata['Approveddate']" outlined dense />
              </div>
            </div>
          </div>
          <div class="col q-gutter-y-xs">
            <div class="row">
              <div class="col-5 keystyle">Drawing No</div>
              <div class="col-7">
                <q-input outlined v-model="formdata['Drawingno']" dense />
              </div>
            </div>
            <div class="row">
              <div class="col-5 keystyle">Project Code</div>
              <div class="col-7">
                <q-input  disable v-model="formdata['projcode']" outlined dense />
              </div>
            </div>
          </div>
        </q-card>
        <q-card flat class="col-2 q-gutter-lg q-pa-sm">
          <q-btn-dropdown
            icon="list"
            text-color="primary"
            unelevated
            style="width:90%"
            color="secondary"
            label="Actions"
          >
            <q-list dense>
              <q-item clickable v-close-popup @click="loadata()">
                <q-item-section>
                  <q-item-label>Load Data</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Prepare GAD</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <!-- <q-btn style="width:90%" label="Load Data" />
          <q-btn style="width:90%" label="Prepare GAD" />-->
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import * as mountain from "assets/mountain.jpg";
import { mapActions, mapGetters } from "vuex";
import { date } from "quasar";
import _ from "lodash";
export default {
  data() {
    return {
      url: "https://placeimg.com/500/300/nature",
      valvetypeopt: [
        "sdfa",
        "fdsa",
        "rewrq",
        "tyetes",
        "okppp",
        "jdimc",
        "ewums"
      ],
      seriesopt: ["qwrer", "rty", "yrhfgr", "rtgt", "poi:4", "yh"],
      operatoropt: ["opp1", "opp3", "opp4", "opp35"],
      vSizeopt: [1, 2, 5, 7, 4, 6, 44, 84, 12, 14, 15, 19, 18],
      customeropt: [
        "cust1",
        "cust11",
        "cust12",
        "cust13",
        "cust15",
        "cust19",
        "cust109"
      ],
      formdata: {
        Serial: 0,
        valvetype: null,
        series: null,
        operator: null,
        customer: null,
        valvesize: null,
        LOIno: null,
        LOIDate: null,
        OFM: null,
        Drawing: null,
        inspection: "",
        rating: null,
        painttype: false,
        drawnby: null,
        drawndate: null,
        Checkedby: null,
        checkeddate: null,
        Approvedby: null,
        Approveddate: null,
        Drawingno: null,
        projcode: null,
        status: "Inprogress"
      }
    };
  },
  computed: {
    ...mapGetters("drawing", ["getprojects"])
  },
  methods: {
    ...mapActions("drawing", ["updateProjlist"]),
    loadata() {
      debugger;
      let storeData = this.getprojects;
      if (this.formdata.Serial !== 0) {
        storeData.splice(
          _.findIndex(storeData, ["Serial", this.formdata.Serial]),
          1,
          this.formdata
        );
      } else {
        this.formdata.Serial = storeData.length + 1;
        storeData.push(this.formdata);
      }
      this.updateProjlist(storeData);
    }
  },
  mounted() {
    let timeStamp1 = Date.now();
    let currdate = date.formatDate(timeStamp1, "DDMMYY");
    const querydata = this.$route.query;
    const storedata = querydata.projId
      ? this.getprojects.filter(x => x.Serial === querydata.projId)
      : [];
    this.formdata = storedata.length ? storedata[0] : this.formdata;
    this.formdata.projcode = _.isNull(this.formdata.projcode)
      ? `GA-${currdate}${this.getprojects.length + 1}`
      : this.formdata.projcode;
  }
};
</script> 

<style>
.keystyle {
  vertical-align: middle;
  text-align: left;
  font-family: "Roboto";
  overflow-wrap: break-word;
}
.selectstyle {
  height: 10px !important;
}
.head {
  height: 100%;
  z-index: -10000000;
}
</style>
