<template>
  <div class="full-height row justify-around">
    <q-toolbar class="bg-grey-2 q-mb-xl" style="font-family:Bower-Bold;">
      <q-btn flat dense round aria-label="Menu">
        <q-avatar square size="50px" style="width:150px;height:30px" class="q-ml-lg q-pl-xl">
          <img src="../statics/GADlogo1.png" />
        </q-avatar>
      </q-btn>
    </q-toolbar>
    <div class="q-mt-md col-xs-12 col-sm-5 col-md-4">
      <q-form @submit="login" @reset="onReset" class="q-gutter-md">
        <div>
          <q-item-label class="headline row">
            <h3>Login</h3>
            <img class="q-ml-xl q-mb-none" src="../statics/GADlogo.jpg" />
          </q-item-label>
          <!-- <q-avatar square size="50px" style="width:70px;height:70px" class="">
          </q-avatar>-->
        </div>
        <q-input
          filled
          v-model="auth.email"
          label="Username *"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Please type Username']"
          @blur="login"
        />

        <q-input
          filled
          type="password"
          v-model="auth.password"
          label="Password"
          lazy-rules
          :rules="[
            (val) =>
              (val !== null && val !== '') || 'Please type your password',
          ]"
        />

        <!-- <q-select
          filled
          v-model="varLang"
          :options="getLangsOption"
          :label="$t('login.selectLang')"
          map-options
        >
          <template v-slot:prepend>
            <q-icon
              size="20px"
              :class="
                lang.icon ? `flag-icon ${lang.icon}` : 'flag-icon flag-icon-gb'
              "
            />
          </template>

          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
              <q-item-section avatar>
                <q-icon size="20px" :class="`flag-icon ${scope.opt.icon}`" />
              </q-item-section>
              <q-item-section>
                <q-item-label v-html="scope.opt.label" />
              </q-item-section>
            </q-item>
          </template>
        </q-select>-->

        <div class="row">
          <q-btn
            class="item col-xs-12 col-sm-5 col-md-4"
            label="Sign In"
            type="button"
            no-caps
            @click="login"
          />
        </div>
      </q-form>
    </div>

    <!-- <q-toolbar class="bg-grey-2 text-white q-mt-xl" style="font-family:Bower-Bold;">
      <div class="row no-wrap items-center q-pa-xs rounded-borders">
        <q-img class="q-ml-sm q-mt-xs" src="../statics/GADlogo1.png" style="width: 4%; height: 1%"></q-img>

        <q-space />

        <div class="text-caption float-right"></div>
      </div>
    </q-toolbar>-->
  </div>
</template>

<script>
export default {
  data() {
    return {
      auth: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      this.$router.push("./Dashboard");
    },
    onReset() {}
  }
};
</script>

<style>
</style>