<template>
  <q-layout view="lHh Lpr lFf">
    
    <q-header v-if="$route.path !== '/'" elevated>
      <q-toolbar class="bg-grey-2" style="height:50px">
        <q-avatar square size="50px" style="width:150px;height:50px" class>
          <img src="../statics/GADlogo1.png" />
        </q-avatar>

        <q-space />
        <!--   <userChargeCodeDropdown class="desktop-only" />-->
        <applogOutNt class="q-mr-xs" />
      </q-toolbar>

      <div
        class="col-xs-12 bg-grey-2 mobile-only"
        style="font-family:TheinhardtPan-Regular;"
      >
        <!--  <userChargeCodeDropdown />-->
      </div>
      <!-- <div class="col-xs-12" style="font-family:TheinhardtPan-Regular;">
        <appQbar />
      </div>-->
    </q-header>

    <q-page-container>
      
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

export default {
  name: "MainLayout",

  components: {
    EssentialLink,
    applogOutNt: require("components/applogOutNotification.vue").default,
  },

  data() {
    return {
      leftDrawerOpen: false
    };
  }
};
</script>
